<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'index' %}">Hood</a>
    </div>
  </div>
  <div class="col-sm-4 col-md-3 navbar-right">
  <div class="col-sm-6 col-md-6">
        <!-- {% if user.is_authenticated %} -->
        <ul>
               <li class="nav-item">
                <a href="{% url 'profile' user.id%}" style="text-decoration: none; color: #D0D3D4;font-size: 15px; margin: 10px;">{{user.username}}
                {% if user.profile.Profile_picture %}
                    <img src="{{user.profile.Profile_picture.url}}" alt="profile" height="40px" width="40px"
                        style="border-radius: 50%" >  </a>
                {% else %}
                <img src="https://www.seekpng.com/png/small/41-410093_circled-user-icon-user-profile-icon-png.png"
                    alt="profile" height="40px" width="40px" style="border-radius: 50%">
                {% endif %}
            </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-expanded="false">{{user.username}}
                      <span class="caret"></span>
                  </a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a href="{%url 'index'%}">Home</a>
              </li>
              <li>
                <a href="/accounts/password/change">Change Password</a>
              </li>
              <li>
                    <a href="{%url 'new-events'%}">Post Event</a>
                </li>
                <li>
                        <a href="{%url 'hoods'%}">Add hood</a>
                </li>
              <li>
                <a href="/logout">Logout</a>
              </li>
            </ul>
          </li>
        </ul>
        {% else %}
        <li>
          <a class='btn btn-default' href="/accounts/login">Login</a>
        </li>

        {% endif %}
      </div>
    </div>
</nav>
</body>
</html>